<div class="container">

  <div class="row">
    <div class="col-xs-2">
      <h5>Product ID</h5>
    </div>
    <div class="col-xs-2">
      <h5>Product Name</h5>
    </div>
    <div class="col-xs-4">
      <h5>Description</h5>
    </div>
    <div class="col-xs-4">
      <h5>Actions</h5>
    </div>
  </div>
  <div class="row" *ngFor="let prod of data">
    <div class="col-xs-2">
      <h6>{{prod.ProductID}}</h6>
    </div>
    <div class="col-xs-2">
      <h6>{{prod.ProductName}}</h6>
    </div>
    <div class="col-xs-4">
      <h6>{{prod.ProductDesc}}</h6>
    </div>
    <div class="col-xs-4">
      <input type="button" class="btn-primary" value="Edit Item" (click)="openEditPopup(prod.id);"/>
      <input type="button" class="btn-danger" value="Delete Item" (click)="openDeletePopup(prod.id);"/>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="editPopup">
  <div class="popup">
    <h3>Edit Product Details</h3>
    <a class="close" (click)="closeEditPopup();">&times;</a>
    <div class="content">
      <input type="text" [(ngModel)]="pID" placeholder="Add Product ID" />
      <input type="text" [(ngModel)]="pName" placeholder="Add Product Name" />
      <textarea [(ngModel)]="pDesc" placeholder="Add Product Description"></textarea>
      <input type="button" value="Save Changes" (click)="editProduct()" />
    </div>
  </div>
</div>

<div class="overlay" *ngIf="deletePopup">
  <div class="popup">
    <h3>Please Add Product Details</h3>
    <a class="close" (click)="closeDeletePopup();">&times;</a>
    <div class="content">
      <h3>Are you sure you want to delete product? </h3>
      <input type="button" value="Confirm Delete" (click)="deleteProduct()" />
    </div>
  </div>
</div>