<div class="container">

  <div class="row">
    <div class="col-xs-2">
      <h5>Product ID</h5>
    </div>
    <div class="col-xs-2">
      <h5>Product Name</h5>
    </div>
    <div class="col-xs-4">
      <h5>Description</h5>
    </div>
    <div class="col-xs-4">
      <h5>Actions</h5>
    </div>
  </div>
  <div class="row" *ngFor="let prod of data">
    <div class="col-xs-2">
      <h6>{{prod.ProductID}}</h6>
    </div>
    <div class="col-xs-2">
      <h6>{{prod.ProductName}}</h6>
    </div>
    <div class="col-xs-4">
      <h6>{{prod.ProductDesc}}</h6>
    </div>
    <div class="col-xs-4">
      <input type="button" class="btn btn-primary" value="Edit Item" (click)="openEditPopup(prod.id);"/>
      <input type="button" class="btn btn-danger" value="Delete Item" (click)="openDeletePopup(prod.id);"/>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="editPopup">
  <div class="popup">
    <h4>Edit Product Details</h4>
    <a class="close" (click)="closeEditPopup();">&times;</a>
    <div class="content">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="pID" placeholder="Add Product ID" />
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="pName"  class="form-control" placeholder="Add Product Name" />
      </div>
      <div class="form-group">
        <textarea  class="form-control" [(ngModel)]="pDesc" placeholder="Add Product Description"></textarea>
      </div>
      <input type="button" class="btn btn-primary" value="Save Changes" (click)="editProduct()" />
    </div>
  </div>
</div>

<div class="overlay" *ngIf="deletePopup">
  <div class="popup">
    <a class="close" (click)="closeDeletePopup();">&times;</a>
    <div class="content">
      <h3>Are you sure you want to delete product? </h3>
      <input type="button" value="Confirm Delete" class="btn btn-danger" (click)="deleteProduct()" />
    </div>
  </div>
</div>

<div class="overlay" *ngIf="notification.message">
  <div class="popup">
    <a class="close" (click)="notification.message = ''">&times;</a>
    <div class="content">
      <h4>{{notification.message}}</h4>
      <input type="button" value="Ok" class="btn btn-primary" (click)="notification.message = ''" />
    </div>
  </div>
</div>