<form class="card" (submit)="loginAdmin(empId.value, pwd.value);">
  <div class="form-header">
    <h1>Admin Login </h1>
  </div>
  <div class="form-group">
    <tr class="item">

      <label  for="empId">Employee ID : </label>
      <input #empId id="empId" class="form-control" type="text" placeholder="Admin Employee ID" required />
    </tr>
  </div>
  <div class="form-group">
    <tr class="item">
      <label  for="pwd">Password : </label>
      <input #pwd id="pwd" class="form-control" type="password" placeholder="Password" required/>
    </tr>
  </div>
  <div style="text-align : center">
    <input class="btn btn-default" type="submit" value="Login" />
  </div>
</form>

<div class="overlay" *ngIf="notification.type == 'Error'">
  <div class="popup">
    <a class="close" (click)="notification.type = ''; notification.message = '';">&times;</a>
    <div class="content">
      <h4>{{notification.message}}</h4>
      <div style="float : right; margin : 10px 40px 0 0;">
        <input type="button" value="Ok" class="btn btn-primary" (click)="notification.type = ''; notification.message = '';" />
      </div>
    </div>
  </div>
</div>