.card {
  width: 400px;
  height: 300px;
  margin: 100px auto;
  text-align: center;
  border: 5px black;
  background-color: whitesmoke;
}

.item {
  display: block;
  margin: 20px;
}

.itemButton {
  margin: 20px auto;
}

h1 {
  padding-top: 40px;
}
