<div class="headBar">
  <app-header-component></app-header-component>
</div>

<div class="container addButtonRow">
  <div class="row">
    <div class="col-xs-12">
      <input type="text" style="float: left; width: 300px;"
      [(ngModel)]="searchItem" class="form-control" placeholder="Search..." (keyup)="searchFunc($event)"/>
      <input class=" btn btn-primary" style="float : right;" type="button" value="Add Product" (click)="openAddPopup();"/>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="addPopup">
  <div class="popup">
    <h4>Please Add Product Details</h4>
    <a class="close" (click)="closeAddPopup();">&times;</a>
    <div class="content">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="pID" placeholder="Add Product ID" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="pName" placeholder="Add Product Name" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="pPrice" placeholder="Price Per Unit" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="pQuantity" placeholder="Quantity Available" />
      </div>
      <div class="form-group">
        <textarea [(ngModel)]="pDesc" class="form-control" placeholder="Add Product Description"></textarea>
      </div>
      <div class="form-group" style="text-align : center">
        <input type="button" class="btn btn-primary" value="Add Product" (click)="addProduct()" />
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="notification.message">
  <div class="popup">
    <a class="close" (click)="notification.message = ''">&times;</a>
    <div class="content">
      <h4>{{notification.message}}</h4>
      <div style="float : right; margin : 10px 40px 0 0;">
      <input type="button" value="Ok" class="btn btn-primary" (click)="notification.message = ''" />
      </div>
    </div>
  </div>
</div>

<div class="table_body">
  <app-product-list [data]="Products"></app-product-list>
</div>

<div class="footerBar">
  <app-footer-component></app-footer-component>
</div>